body {
    font-family: sans-serif;
    margin-top: 75px;
    background-color: #808080;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bolder;
    color: red;
}

.img-medium {
    height: 200px;
}
