body {
    font-family: sans-serif;
    margin-top: 75px;
    background-color: #808080;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bolder;
    color: red;
}

.img-medium {
    height: 200px;
}
h1{
    text-decoration: underline;
}
.abc{
    padding-top: 80px;
    color: maroon;
    font-family: times new roman;
    margin: 0 auto;
    max-width: 800px;
}
.image{
    width:300px;
    height:200px;
}