body {
    font-family: sans-serif;
    margin-top: 75px;
    background-image: url("/ui/bgimage.png");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bolder;
    color: white;
}

.img-medium {
    height: 200px;
}
